﻿@model BusinessManagementSystemApp.Models.Models.ProductViewModel
@{
    ViewBag.Title = "PeriodicIncomeExpenseOnPurchase";
}

<h2 class="text-info" align="center">Periodic Income Expense Report On Purchase</h2>
<hr />
<form method="post">
    <div class="container" style="margin-top:1%">
        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <div class="col-md-4">
                        Start Date
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4">
                        End Date
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-block btn-success" value="Search" />
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background-color:teal; color:white; text-align:center">
                        <tr>
                            <td>SL</td>
                            <td>Product(Code)</td>
                            <td>Product(Name)</td>
                            <td>Category</td>
                            <td>Quantity</td>
                            <td>CP(Taka)</td>
                            <td>Sale(Taka)</td>
                            <td>Profit(Taka)</td>
                        </tr>
                    </thead>
                    @if (Model != null)
                    {
                        <tbody style="text-align:center; font-weight:bold">
                            @{ int sl = 1;}
                            @foreach (var product in Model.Products)
                            {
                                <tr>
                                    <td>@(sl++)</td>
                                    <td>@product.ProductCode</td>
                                    <td><a href="/Product/ProductDetails?id=@product.ProductId" target="_blank">@product.ProductName</a></td>
                                    <td>@product.CategoryName</td>
                                    <td>@product.AvailableQuantity</td>
                                    <td>@product.TotalCostPrice</td>
                                    <td>@product.SalesPrice</td>
                                    <td>@product.Profit</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</form>

