﻿@{
    ViewBag.Title = "Index";
    
}

<div class="container" style="width:80%; margin-top:3%">
    <div class="form-group row">
        <div class="col-md-12">
            <marquee style="background-color:aquamarine"><h3><b>Business Management System</b></h3></marquee>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <img src="~/Resourses/Inventory.jpg" width="100%" height="350" />
        </div>
    </div>
</div>