﻿@model BusinessManagementSystemApp.Models.Models.ProductViewModel
@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    <h3 align="center"><b><u>Product List</u></b></h3>
</div>
<div class="container" style="margin-top:6%;">
    <form method="post">
        <div class="form-group row">
            <div class="col-md-6">
                <a style="margin-top:2%" href="/Product/SaveProduct" class="btn btn-info"><i class="glyphicon glyphicon-new-window"></i> <b>New Product</b></a>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(c => c.SearchText, new { @class = "form-control", placeholder = "Search Product" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="Search" class="btn btn-block btn-primary" />
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="form-group row">
        <div class="col-md-12">
            <table class="table table-hover table-bordered table-striped table-responsive">
                <thead style="background-color:teal; color:white; text-align:center; font-weight:bold">
                    <tr>
                        <td>SL</td>
                        <td>Product Name</td>
                        <td>Code</td>
                        <td>Category</td>
                        <td>Reorder Level</td>
                        <td>Edit</td>
                        <td>Details</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody style="text-align:center; font-weight:bold">
                        @{ int sl = 1;}
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@(sl++)</td>
                                <td>@product.ProductName</td>
                                <td>@product.ProductCode</td>
                                <td>@product.CategoryName</td>
                                <td>@product.ReorderLevel</td>
                                <td><a href="/Product/UpdateProduct?id=@product.ProductId" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                <td><a href="/Product/ProductDetails?id=@product.ProductId" class="btn btn-warning"><i class="glyphicon glyphicon-th-list"></i></a></td>
                                <td><a href="/Product/DeleteProduct?id=@product.ProductId" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

