﻿@model BusinessManagementSystemApp.Models.Models.ProductViewModel
@{
                /**/

                ViewBag.Title = "ProductDetails";
}

<div class="container">
    <div class="row">
        <a style="margin-top:2%" href="/Product/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Product List</a><hr />
    </div>
</div>
@if (ViewBag.Message != null)
{
    <h3 class="text-danger" align="center">@ViewBag.Message</h3>
}

@if (Model != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">Product Details</div>
        <div class="container" style="margin:1%">
            <input type="hidden" name="IsActive" value="True" />
            <input type="hidden" name="Date" value="@DateTime.Now.ToShortDateString()" />
            <div class="container" style="width:80%; margin-top:3%">
                <div class="col-md-9">
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <label>Product Name</label>
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(c => c.ProductName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <label>Product Code</label>
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(c => c.ProductCode, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <label>Category</label>
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <label>Reorder Level</label>
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(c => c.ReorderLevel, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <label>Description</label>
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(c => c.Description, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-5">
                            <a href="/Product/UpdateProduct?id=@Model.ProductId" class="btn btn-block btn-success">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <img src="@Url.Content(Model.ImagePath)" width="90%" height="200" style="border:1px solid red" />
                        <h4 class="text-info" align="center">Image</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
