﻿@model BusinessManagementSystemApp.Models.Models.ProductViewModel
@{
    ViewBag.Title = "SaveProduct";
}

<div class="container">
    <div class="row">
        <a style="margin-top:2%" href="/Product/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Product List</a><hr />
    </div>
</div>
<div class="container">
    <h3 class="text-danger" align="center">@ViewBag.Message</h3>
</div>
@using (Html.BeginForm("SaveProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="IsActive" value="True" />
    <input type="hidden" name="Date" value="@DateTime.Now.ToShortDateString()" />
    <div class="container" style="width:80%; margin-top:3%">
        <div class="col-md-10">
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Product Name</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.ProductName, new { @class = "form-control", placeholder = "Enter product name" })
                    @Html.ValidationMessageFor(c => c.ProductName, null, new { @class="text-danger"})
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Product Code</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.ProductCode, new { @class = "form-control", placeholder = "Enter product code" })
                    @Html.ValidationMessageFor(c => c.ProductCode, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Categories</label>
                </div>
                <div class="col-md-5">
                    @Html.DropDownListFor(c => c.CategoryId, ViewBag.Categories as SelectList, "--Select--", new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-new-window"><b> Add</b></i></a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Image</label>
                </div>
                <div class="col-md-5">
                    <input type="file" class="form-control" name="image"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Reorder Level</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.ReorderLevel, new { @class = "form-control", placeholder = "Enter product reorder level" })
                    @Html.ValidationMessageFor(c => c.ReorderLevel, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Description</label>
                </div>
                <div class="col-md-5">
                    @Html.TextAreaFor(c => c.Description, new { @class = "form-control", placeholder = "Enter product description" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">

                </div>
                <div class="col-md-5">
                    <input type="submit" class="btn btn-block btn-success" value="Save" />
                </div>
            </div>
        </div>
        @*<div class="col-md-4">fjdklf</div>*@
    </div>
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title text-info">Save new category (:-</h3>
            </div>
            <div class="modal-body">
                <form id="myForm">
                    <div class="container">
                        <div class="form-group row">
                            <div class="col-md-3">Category Name</div>
                            <div class="col-md-9">
                                @*@Html.TextBoxFor(c => c.CategoryName, null, new { @class = "form-control", @placeholder = "Category name" })*@
                                <input type="hidden" name="IsActive" value="True" />
                                <input type="hidden" name="Date" value="@DateTime.Now" />
                                <input type="text" class="form-control" placeholder="Category Name" name="CategoryName" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">Category Code</div>
                            <div class="col-md-9">
                                @*@Html.TextBoxFor(c => c.CategoryCode, null, new { @class = "form-control", @placeholder = "Category code" })*@
                                <input type="text" class="form-control" placeholder="Category Code" name="CategoryCode" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <button id="submitBtn" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#submitBtn").click(function () {
                debugger
                var data = $("#myForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Category/SaveCategory",
                    data: data,
                    success: function () {
                        alert('Saved!');
                        location.reload(true);
                    }
                })
            })
            

        });
    </script>    
    
}

