﻿@model BusinessManagementSystemApp.Models.Models.SupplierViewModel
@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    <h3 align="center"><b><u>Supplier List</u></b></h3>
</div>
<div class="container" style="margin-top:6%;">
    <form method="post">
        <div class="form-group row">
            <div class="col-md-6">
                <a style="margin-top:2%" href="/Supplier/SaveSupplier" class="btn btn-info"><i class="glyphicon glyphicon-new-window"></i> <b>New Supplier</b></a>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(c => c.SearchText, new { @class = "form-control", placeholder = "Search Supplier" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="Search" class="btn btn-block btn-primary" />
            </div>
        </div>
    </form>
</div>
@if (Model != null)
{
    <div class="container">
        <div class="form-group row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped table-responsive">
                    <thead style="background-color:teal; color:white; text-align:center; font-weight:bold">
                        <tr>
                            <td>SL</td>
                            <td>Supplier Name</td>
                            <td>Code</td>
                            <td>Address</td>
                            <td>Email</td>
                            <td>Contact Number</td>
                            <td>Contact Person</td>
                            <td>Edit</td>
                            <td>Details</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody style="text-align:center; font-weight:bold">
                        @{ int sl = 1;}
                        @foreach (var supplier in Model.Suppliers)
                        {
                            <tr>
                                <td>@(sl++)</td>
                                <td>@supplier.SupplierName</td>
                                <td>@supplier.SupplierCode</td>
                                <td>@supplier.Address</td>
                                <td>@supplier.Email</td>
                                <td>@supplier.Contact</td>
                                <td>@supplier.ContactPerson</td>
                                <td><a href="/Supplier/UpdateSupplier?id=@supplier.SupplierId" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                <td><a href="/Supplier/SupplierDetails?id=@supplier.SupplierId" class="btn btn-warning"><i class="glyphicon glyphicon-th-list"></i></a></td>
                                <td><a href="/Supplier/DeleteSupplier?id=@supplier.SupplierId" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
