﻿@model BusinessManagementSystemApp.Models.Models.SupplierViewModel
@{
    ViewBag.Title = "SaveSupplier";
}

<div class="container">
    <div class="row">
        <a style="margin-top:2%" href="/Supplier/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Supplier List</a><hr />
    </div>
</div>
<div class="container">
    <h3 class="text-danger" align="center">@ViewBag.Message</h3>
</div>
@using (Html.BeginForm("SaveSupplier", "Supplier", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="panel panel-primary">
    <div class="panel-heading">
        Save New Supplier
    </div>
    <input type="hidden" name="IsActive" value="True" />
    <input type="hidden" name="Date" value="@DateTime.Now.ToShortDateString()" />
    <div class="container" style="width:80%; margin-top:3%">
        <div class="col-md-10">
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Supplier Name</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.SupplierName, new { @class = "form-control", placeholder = "Enter supplier name" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Supplier Code</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.SupplierCode, new { @class = "form-control", placeholder = "Enter supplier code" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Address</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.Address, new { @class = "form-control", placeholder = "Enter Address" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Logo</label>
                </div>
                <div class="col-md-5">
                    <input type="file" class="form-control" name="logo" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Email</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.Email, new { @class = "form-control", placeholder = "Enter email address" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Contact</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.Contact, new { @class = "form-control", placeholder = "Enter contact number" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Contact Person</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.ContactPerson, new { @class = "form-control", placeholder = "Enter contact person number" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">

                </div>
                <div class="col-md-5">
                    <input type="submit" class="btn btn-block btn-success" value="Save" />
                </div>
            </div>
        </div>
        @*<div class="col-md-4">fjdklf</div>*@
    </div>
</div>
}