﻿@model BusinessManagementSystemApp.Models.Models.ProductViewModel
@{
    ViewBag.Title = "Index";
}

<div class="form-group row">
    <div class="page-header" style="background-color:cadetblue; padding:5px">
        <h3 class="text-center"><b style="color:white">Periodical Stock Report</b></h3>
    </div>
</div>
<form method="post">
    <div class="container" ">
        <div class="text-danger">
            <h3 style="text-align:center">@ViewBag.Message</h3>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Product Records</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    Category
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(c => c.CategoryId, ViewBag.Categories as SelectList, "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">Start Date</div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    Product
                                </div>
                                <div class="col-md-8">
                                    <select id="ProductId" name="ProductId" class="form-control">
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">End Date</div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    @Html.CheckBoxFor(c => c.IsCheckReorderLevel)
                                    Reorder Level
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4"></div>
                                <div class="col-md-6">
                                    @Html.CheckBoxFor(c => c.IsCheckExpireDate)
                                    Expired
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-block btn-success" value="Search" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover table-striped">
                <thead style="background-color:teal; color:white; text-align:center">
                    <tr>
                        <td>SL</td>
                        <td>Product(Code)</td>
                        <td>Product(Name)</td>
                        <td>Category</td>
                        <td>Reorder Level</td>
                        <td>Expire Date</td>
                        <td>Available Quantity</td>
                        <td>Expire Quantity</td>
                        <td>Opening Balance</td>
                        <td>In</td>
                        <td>Out</td>
                        <td>Closing Balance</td>
                    </tr>
                </thead>
                @if (Model != null && Model.Products.Count > 0)
                {
                    <tbody style="text-align:center; font-weight:bold">
                        @{ int sl = 1;}
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@(sl++)</td>
                                <td>@product.ProductCode</td>
                                <td><a href="/Product/ProductDetails?id=@product.ProductId" target="_blank">@product.ProductName</a></td>
                                <td>@product.CategoryName</td>
                                <td>@product.ReorderLevel</td>
                                <td>@product.ExpireDate.ToShortDateString()</td>
                                <td>@product.AvailableQuantity</td>
                                <td><a href="/Stock/Stockout?id=@product.ProductId" target="_blank">@product.ExpiredQuantity</a></td>
                                <td>@product.OpeningBalance</td>
                                <td>@product.InBalance</td>
                                <td>@product.OutBalance</td>
                                <td>@product.ClosingBalance</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</form>

@section Scripts{

    <script src="~/Scripts/Project Scripts/Stock Script/StockJs.js"></script>

}

