﻿@model BusinessManagementSystemApp.Models.Models.CustomerViewModel
@{
    ViewBag.Title = "SaveCustomer";
}

<div class="container">
    <div class="row">
        <a style="margin-top:2%" href="/Customer/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Customer List</a><hr />
    </div>
</div>
<div class="container">
    <h3 class="text-danger" align="center">@ViewBag.Message</h3>
</div>
@using (Html.BeginForm("SaveCustomer", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Save New Customer
        </div>
        <input type="hidden" name="IsActive" value="True" />
        <input type="hidden" name="Date" value="@DateTime.Now.ToShortDateString()" />
        <div class="container" style="width:80%; margin-top:3%">
            <div class="col-md-10">
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Customer Name</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.CustomerName, new { @class = "form-control", placeholder = "Enter customer name" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Customer Code</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.CustomerCode, new { @class = "form-control", placeholder = "Enter customer code" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Address</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.Address, new { @class = "form-control", placeholder = "Enter Address" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Image</label>
                    </div>
                    <div class="col-md-5">
                        <input type="file" class="form-control" name="image" required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Email</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control", placeholder = "Enter email address" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Contact</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.Contact, new { @class = "form-control", placeholder = "Enter contact number" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <label>Loyalty Point</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.LoyaltyPoint, new { @class = "form-control", placeholder = "Enter initial loyalty point" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-5">
                        <input type="submit" class="btn btn-block btn-success" value="Save" />
                    </div>
                </div>
            </div>
            @*<div class="col-md-4">fjdklf</div>*@
        </div>
    </div>
}

